<footer class="footer">
	<div class="container">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<p class="text-muted text-left">UCF Coding Bootcamp 2018</p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<p class="text-muted text-center">Created by Group 6</p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<p class="text-muted text-right">Copyright &copy 2018. All rights reserved.</p>
		</div>
	</div>
</footer>