
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="index">Store</a>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
                         
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vinyls By Genre
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="Rock">Rock</a><br>
          <a class="dropdown-item" href="hiphop">Hip Hop</a><br>
          <a class="dropdown-item" href="pop">Pop</a><br>
          <a class="dropdown-item" href="country">Country</a>
          
      </li>
    </ul>

  </div>
</nav>

<br>
<!-- Main section with table-->
<div class="jumbotron">
<h2>Store Inventory</h2>
<table id="inventoryTable">
    <th>Artist</th>
    <th>Album</th>
    <th>Genre</th>
    <th>Price</th>
    <th>Stock</th>
  <tbody>
  </tbody>
</table>
<br><br>

<form>
   <label >You will change the stock of Vinyl:</label><br>
   <label id="vinylselected"></label><br>
  <input type="text" name="vinylstock" id="vinylstock" ><br>
  <input type="submit" value="Submit" id="submit-button">
</form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/dashboard.js">   </script>
