<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="jumbotron">
          <h1 id="title">Bass Drop Vinyl Shop</h1>
          <img src="/img/logoNoBG.png" id="logo">

        
        </div>
        {{!-- <img id="turntable1-img" class="turntable-buttons img-responsive" data-toggle="tooltip" title="Click to Enter Site" src="/img/turntable.gif"
          alt="Click to Enter Site"> --}}

        <!-- Button trigger for Admin login modal -->
        <button type="button" class="btn ctrbtns btn-primary" id="adminlogin" data-toggle="modal" data-target="#adminloginModal">
          ADMINISTRATOR LOGIN
        </button>
        <!-- Button trigger for new Admin account modal...this section will need a data-target-->
        <button type="button" class="btn ctrbtns btn-secondary" id="requestaccount" data-toggle="modal" data-target="#acctRequestModal">
          REQUEST NEW ACCOUNT
        </button>

        <!-- Button trigger for new Admin account modal...this section will need a data-target
        <button type="button" class="btn ctrbtns btn-secondary" id="requestaccount" data-toggle="modal" data-target="#cookienotice">
          TEST COOKIE
        </button>-->

        <!-- Admin Login Modal -->
        <div class="modal fade" id="adminloginModal" tabindex="-1" role="dialog" aria-labelledby="adminloginModalLabel" aria-hidden="true">
          <div class="modal-dialog-centered modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="adminLoginLabel" text-align="center">Administration Page Login</h5>

              </div>
              <div class="modal-body">
                <!-- Form Control for Admin Login -->
                <form id="signin" name="signin" method="post" action="/signin">
                  <label for="email">Email Address: </label>
                  <input class="text" name="email" type="text" />
                  <label for="password">Password: </label>
                  <input name="password" type="password" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                <!-- Submit button for Admin Login -->
                <input class="btn" type="submit" value="SIGN IN" />
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Admin New Account Request Modal -->
        <div class="modal fade" id="acctRequestModal" tabindex="-1" role="dialog" aria-labelledby="acctRequestModalLabel" aria-hidden="true">
          <div class="modal-dialog-centered modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="acctRequestModalLabel" text-align="center">Enter account information below to
                  request a new account </h5>

              </div>
              <div class="modal-body">
                <!-- Form Control for New Admin Account Request -->
                <form id="newacct" name="newacct" method="post" action="/signup">
                  <table>
                    <tr>
                      <td><label for="firstname">Enter First Name:</label></td>
                      <td><input class="text" name="firstname" type="text" /></td>
                    </tr>
                    <tr>
                      <td><label for="lastname">Enter Last Name:</label></td>
                      <td><input class="text" name="lastname" type="text" /></td>
                    </tr>
                    <tr>
                      <td>
                        <center>Email Address will be used as USER ID</center>
                      </td>
                    </tr>
                    <tr>
                      <td><label for="email">Enter Valid Email Address:</label></td>
                      <td><input class="text" name="email" type="text" /></td>
                    </tr>
                    <tr>
                      <td><label for="password">Enter Valid Password:</label></td>
                      <td><input name="password" type="password" /></td>
                    </tr>
                  </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                <!-- Submit button for New Admin Account Request -->
                <input class="btn" type="submit" value="SUBMIT" />
                </form>
              </div>
            </div>
          </div>
        </div>



        <!-- Cookie Warning Modal -->
        <div class="modal fade" id="cookienotice" tabindex="-1" role="dialog" aria-labelledby="cookienoticeLabel" aria-hidden="true"
          data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog-centered modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <table>
                  <tr>
                    <td>
                      <div class="grid--cell mr12" aria-label="notice-message">
                        <p class="mb0 lh-lg">
                          This site uses cookies to deliver our services and to ensure your data is protected by applicable security features. By using
                          our site, you acknowledge that you have read and understand our <a class="s-link s-link__inherit td-underline fc-white"
                            target="_blank" href="">Cookie Policy,</a>
                          <a class="s-link s-link__inherit td-underline fc-white" target="_blank" href="">Privacy Policy,
                            </a> and our <a class="s-link s-link__inherit td-underline fc-white" target="_blank" href="">Terms
                            of Service</a>. Your use of Bass Drop Vinyl Shop’s Products and Services, including the Bass
                          Drop Vinyl Shop Network, is subject to these policies and terms.
                        </p>
                      </div>
                    </td>
                  </tr>
                  <tr align="center">
                    <td>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">ACCEPT</button>
                    </td>
                  </tr>
                </table>
              </div>



            </div>
          </div>
        </div>


      </div>
    </div>
  </div>







  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>